
<h1>Get TextBox value in Angular</h1>
<input type="text" #box (keyup)="getVal($event.target.value)" />
<button (click)="getVal(box.value)">Get Value</button>
<h2>{{currentVal}}</h2>

<h1>Hello World !</h1>
<h2>{{name}}</h2>
<h2>{{ appName }}</h2>
<h2>{{ obj.name }}</h2>
<h2>{{ obj.age }}</h2>
<h2>{{ arr }}</h2>
<h2>{{ arr[0] }}</h2>
<h2>{{ arr.length }}</h2>
<h2>{{ siteUrl }}</h2>
<h2>{{ 10+10 }}</h2>
<button (click)="getName(myName)">Get my name</button><br><br>

<button (click)="myEvent('test123')">Click me</button><br><br>

<input type="text" #box (keyup.enter)="myEvent(box.value)"><br><br>

<input type="text" #box (blur)="myEvent('blur event')"><br><br>

<h1 (mouseover)="myEvent('mouseover')" style="background-color: skyblue;">
    Mouse event
</h1>

<h1 (mouseleave)="myEvent('mouseleave')" style="background-color: red;">
    Mouse event
</h1>

<app-user-list></app-user-list>

<app-user-list></app-user-list>

<app-login></app-login>
<app-signup></app-signup>

